# See https://help.github.com/articles/ignoring-files/ for more about ignoring files

# Debug
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
.pnp.*
.pnp/
.yarn/
node_modules/

# Misc
*.pem
.DS_Store

# Production
dist/

# Testing
coverage/

# TypeScript
*.tsbuildinfo
